body {
  background: linear-gradient(307deg, #2d61aa, #a475e4, #9d589d, #963c5f, #ac5643, #c89752);
  background-size: 1200% 1200%;

  -webkit-animation: GradientAnimation 33s ease infinite;
  -moz-animation: GradientAnimation 33s ease infinite;
  animation: GradientAnimation 33s ease infinite;

  color: #fff;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes GradientAnimation { 
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
