.header {
  color: #ff0;
  margin: 30px auto 30px auto !important;
  text-align: center;

  .profile {
    height: 256px;
    width: 256px;
    outline: none;
    border: solid 8px #ffffff;
    border-radius: 50%;
  }

  .cli-version {
    font-size: 2rem;
    background: #ffffff;
    padding: 0.5rem 3rem;
    color: #3d81da;
    text-decoration: none;
    border-radius: 3px;
    text-shadow: none;

    &:hover {
      background: #000;
      color: #00ef00;
      box-shadow: 0px 5px 0px #00ef00;
    }
  }
}

