.projects {
  color: #3d3d3d;
  background: #eaeaea;
  border-radius: 3px;
  padding: 2rem;
  margin-bottom: 20px;

  h2 {
    text-align: center;
  }

  .pl-py {
    background: #fff;
    border: 1px solid #9fa400;
    border-radius: 4px;
    transition: 1s;
    height: 250px;
    overflow: hidden;
    margin: 4px;
  }

  .pl-py:hover {
    color: #084d8a;
    background-color: #fffec6;
    border: 1px solid #0e6895;
  }
  
  .pl-php {
    background: #fff;
    border: 1px solid #8c6dec;  
    border-radius: 4px;
    transition-duration: 1s;
    height: 250px;
    overflow: hidden;
    margin: 4px;
  }

  .pl-php:hover {
    color: #543975;
    background: #d6b5ff;
  }

  .pl-go {
    background: #fff;
    border: 1px solid #0078cf;  
    border-radius: 4px;
    transition-duration: 1s;
    height: 250px;
    overflow: hidden;
    margin: 4px;
  }

  .pl-go:hover {
    background: #e6f4ff;
  }

  .pl-ts {
    background: #fff;
    border: 1px solid #0078cf;  
    border-radius: 4px;
    transition-duration: 1s;
    height: 250px;
    overflow: hidden;
    margin: 4px;
  }

  .pl-ts:hover {
    color: #0077f7;
    background: #f0f0f0;
  }

  .columns {
    margin: 1rem;
    padding: .5rem;
    transition-duration: 1s;
  }

  .columns:hover {
    transform: scale(1.05);
  }

}
