div.typed,
.typed-cursor {
  display: inline;
  font-size: 3.6rem;
  min-height: 5rem;
}

.go_relative {
  position: relative;
  padding: 5px;
  font-size: 2rem;
  background: #fff;
  border: 1px solid #3d3d3d;
  border-radius: 4px;
  transition: 1s;
  height: 250px;
  width: 30%;
  overflow: hidden;
  margin: 4px;
  display: inline-block;
}

.go_relative p {
  padding: 1.2rem;
}

.go_bottom {
  width: 90%;
  position: absolute;
  padding: 4px;
  bottom: 12px;

  a {
    width: 46%;
    padding: 0;
  }
}
