div.typed,
.typed-cursor {
  font-size: 3.6rem;
  display: inline-block;
}

.go_relative {
  position: relative;
  padding: 4px;
  height: 100%;
  font-size: 2rem;
}

.go_bottom {
  width: 100%;
  position: absolute;
  padding: 4px;
  bottom: 12px;
}
