div.typed,
.typed-cursor {
  display: inline;
  font-size: 3.6rem;
  min-height: 5rem;
}

.go_relative {
  position: relative;
  padding: 5px;
  height: 100%;
  font-size: 2rem;
}

.go_relative p {
  padding: 1.2rem;
}

.go_bottom {
  width: 100%;
  position: absolute;
  padding: 4px;
  bottom: 12px;
}
