div.typed,
.typed-cursor {
  display: inline;
  font-size: 3.6rem;
  min-height: 5rem;
  color: #3d81da;
}

.buttonPrimary {
  background-color: #3d81da !important;
  border-color: #3d81da !important;
}

.go_relative {
  position: relative;
  padding: 5px;
  font-size: 2rem;
  background: #fff;
  border: 1px solid #3d3d3d;
  box-shadow: 0 3px 5px #aeaeae;
  border-radius: 4px;
  height: 250px;
  min-height: 300px;
  width: 30%;
  overflow: hidden;
  margin: 8px;
  display: inline-block;

  a {
    box-shadow: 0 1px 3px #aeaeae;
  }

  @media (max-width: 800px) {
    width: 46%;
  }

  @media (max-width: 640px) {
    width: 95%;
  }
}

.go_relative p {
  padding: 1.2rem;
}

.go_bottom {
  width: 90%;
  position: absolute;
  padding: 4px;
  bottom: 12px;

  a {
    width: 46%;
    padding: 0;
  }
}
