.projects {
  color: #3d3d3d;
  background: #eaeaea;
  border-radius: 3px;
  padding: 2rem 0;

  h2 {
    text-align: center;
  }

  .p-box p {
    height: 5rem;
    overflow: hidden;
  }

  /* PHP */
  
  .pl-php {
    background: #fff;
    border: 1px solid #8c6dec;  
    border-radius: 4px;
    transition-duration: 1s;
  }

  .pl-php:hover {
    background: #f3efff;
  }

  /* Go */

  .pl-go {
    background: #fff;
    border: 1px solid #0078cf;  
    border-radius: 4px;
    transition-duration: 1s;
  }

  .pl-go:hover {
    background: #e6f4ff;
  }

  /* Python */
  .pl-py {
    background: #fff;
    border: 1px solid #9fa400;
    border-radius: 4px;
    transition: 1s;
  }

  .pl-py:hover {
    background-color: #fffec6;
    border: 1px solid #0e6895;
  }

  .columns {
    margin: 1rem;
    padding: .5rem;
    transition-duration: 1s;
  }

  .columns:hover {
    transform: scale(1.05);
  }

}
