html {
  font-family: sans-serif;
  font-size: 62.5%;
  text-align: center;
  background: #3d81da;
  color: #fff;
}

body {
  font-size: 2.4em;
}

.center {
  text-align: center;
}

.button {
  background: #fff;
}
